/* // #D9E5D0 Lightest green, text background
// #C5D8B6 Main light green, viz background
// #63845A Medium green, text and viz fill
// #34422C Dark green, highlight text / viz select */

h1, p, text {
    font-family: "Optima";
}

body {
    background: #D9E5D0;
}

text:hover {
    cursor: default;
}

#my_dataviz, #my_legend {
    background: #C5D8B6;
}

#my_dataviz {
}

#dataviz-container {
    background: #C5D8B6;
}

#writeup-container {
    padding: 40px 0px;
    background: #D9E5D0;

}

#plant_thumbnail {
    position: absolute;
    border-radius: 50%;
    left:1em;
    top:1em;
}
.row{
    margin: 0;
    position: relative;
}
